<%- include('header') %>

  <div class="page-wrapper">


    <div class="container">
      <form method="post" action="/admin/categoryData">
        <h4 class="display-20"> Category Info </h4>
        <!-- TEXTB0X: FIRST NAME -->
        <label for="id">Category name</label> <br>
        <div class="form-group d-flex">
          <input class="form-control col-sm-4" type="text" name="category_name" placeholder="Category name">
        </div>
    <!-- BUTTON: SUBMIT -->
    <button class="btn btn-primary mb-5" type="submin" value="submin">
      Submit
    </button>

    </form>
    <br>

    <a class="btn btn-info mb-5" href="/admin/">add</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-info mb-5" href="/admin/subcategory">subcategory</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-info mb-5" href="/admin/viewsubcategory">viewsubcategory</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">





  <br>
  <br>
  <br>

  </div>

  <%- include('footer') %>